@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 165 22% 95%;
    --foreground: 165 5% 8%;
    --card: 165 22% 90%;
    --card-foreground: 165 5% 10%;
    --popover: 165 22% 95%;
    --popover-foreground: 165 95% 8%;
    --primary: 165 60% 18%;
    --primary-foreground: 0 0% 100%;
    --secondary: 165 22% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 127 22% 85%;
    --muted-foreground: 165 5% 35%;
    --accent: 127 22% 80%;
    --accent-foreground: 165 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 165 5% 90%;
    --border: 165 22% 50%;
    --input: 165 22% 18%;
    --ring: 165 60% 18%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 165 22% 8%;
    --foreground: 165 5% 90%;
    --card: 165 22% 8%;
    --card-foreground: 165 5% 90%;
    --popover: 165 22% 5%;
    --popover-foreground: 165 5% 90%;
    --primary: 165 60% 18%;
    --primary-foreground: 0 0% 100%;
    --secondary: 165 22% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 127 22% 15%;
    --muted-foreground: 165 5% 60%;
    --accent: 127 22% 15%;
    --accent-foreground: 165 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 165 5% 90%;
    --border: 165 22% 18%;
    --input: 165 22% 18%;
    --ring: 165 60% 18%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}